@import 'tailwindcss';
@import '@nuxt/ui';

/* Hide the password reveal button in Edge */
::-ms-reveal {
    display: none;
}

@layer base {
    button,
    [role='button'],
    a {
        cursor: pointer;
    }
}

@layer utilities {
    /**
     * 隐藏滚动条但保持滚动功能
     */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
}
